# Посмотрим на результат расчитанных меток

In [19]:
# TODO: 
# посмотреть на записи, которые не поличилось классифировать
# провести анализ каждого класса

In [113]:
import pandas as pd 

df = pd.read_csv('../data/labels.csv', encoding='cp1251', sep='/n', header=None)
df

C:\Users\sayan\AppData\Local\Temp\ipykernel_23612\1328363775.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('../data/labels.csv', encoding='cp1251', sep='/n', header=None)

                                                    0
0                                     П,о,л,и,т,и,к,а
1                                       Ф,и,н,а,н,с,ы
2                                     П,о,л,и,т,и,к,а
3       О,б,р,а,з,о,в,а,т,е,л,ь,н,ы,й, ,к,о,н,т,е,н,т
4                                 Т,е,х,н,о,л,о,г,и,и
...                                               ...
151526                            Т,е,х,н,о,л,о,г,и,и
151527                            Т,е,х,н,о,л,о,г,и,и
151528                            Т,е,х,н,о,л,о,г,и,и
151529                            Т,е,х,н,о,л,о,г,и,и
151530                          Р,а,з,в,л,е,ч,е,н,и,я

[151531 rows x 1 columns]

In [114]:
df.columns

Index([0], dtype='int64')

In [115]:
df.rename(columns={0: 'Label'}, inplace=True)
df

                                                Label
0                                     П,о,л,и,т,и,к,а
1                                       Ф,и,н,а,н,с,ы
2                                     П,о,л,и,т,и,к,а
3       О,б,р,а,з,о,в,а,т,е,л,ь,н,ы,й, ,к,о,н,т,е,н,т
4                                 Т,е,х,н,о,л,о,г,и,и
...                                               ...
151526                            Т,е,х,н,о,л,о,г,и,и
151527                            Т,е,х,н,о,л,о,г,и,и
151528                            Т,е,х,н,о,л,о,г,и,и
151529                            Т,е,х,н,о,л,о,г,и,и
151530                          Р,а,з,в,л,е,ч,е,н,и,я

[151531 rows x 1 columns]

In [116]:
df = df['Label'].apply(lambda x: x.replace(',', ''))
df

0                        Политика
1                         Финансы
2                        Политика
3         Образовательный контент
4                      Технологии
                   ...
151526                 Технологии
151527                 Технологии
151528                 Технологии
151529                 Технологии
151530                Развлечения
Name: Label, Length: 151531, dtype: object

In [117]:
df.to_csv('../data/labels.csv', index=False)

## Посмотрим записи, которые не получилось классифицировать

In [118]:
unhandled_posts = []
with open('../data/unhandled_posts.txt', 'r') as f:
    for row in f.readlines():
        row = int(row.replace('/n', ''))
        unhandled_posts.append(row)
unhandled_posts

[9715, 68741, 79753, 79757, 79969, 81256, 107521]

In [119]:
posts = pd.read_excel('../data/handled_posts.xlsx')
posts.head()

,id,telegram_id,text,datetime,category_id,channel_id,title,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,157314,❗️Восстановление аммиакопровода Тольятти — Оде...,2023-06-07 11:40:06,NaN,-1001394050290,Восстановление аммиакопровода займет до 3 меся...,NaN,NaN,NaN
1,2,18940,Дополнительные 39 миллионов рублей были выделе...,2023-06-07 11:34:56,NaN,-1001098860759,Выделены дополнительные 39 млн рублей на соцуч...,NaN,NaN,NaN
2,3,4868,«Россия уничтожена санкциями»\n ...,2023-06-07 11:03:05,NaN,-1001797434593,«Россия уничтожена санкциями»\n ...,NaN,NaN,NaN
3,4,157315,❗️Правоохранители провели обыски в министерств...,2023-06-07 11:50:06,NaN,-1001394050290,Обыски в минобразования Дагестана по делу о вы...,NaN,NaN,NaN
4,16,157317,"Реконструкция пропускного пункта ""Верхний Ларс...",2023-06-07 12:10:25,NaN,-1001394050290,"Реконструкция пропускного пункта ""Верхний Ларс...",NaN,NaN,NaN

In [120]:
posts['text'][unhandled_posts]

9715      **В начале войны Москва будто застыла. Спустя ...
68741                                                   NaN
79753                                                123132
79757                                                   123
79969                                                     2
81256                                                     3
107521                                                   40
Name: text, dtype: object

In [121]:
posts['text'][unhandled_posts[0]]

'**В начале войны Москва будто застыла. Спустя полтора года это уже не тот город, что мы знали до 24 февраля 2022-го. Продолжение **[**фотопроекта](https://meduza.io/feature/2023/06/15/v-nachale-voyny-moskva-budto-zastyla-spustya-poltora-goda-eto-uzhe-ne-tot-gorod-chto-my-znali-do-24-fevralya-2022-go)**** Александра Гронского\n\n**Александр Гронский\xa0— один из\xa0самых известных российских пейзажных фотографов. После начала полномасштабной войны он остался в России, чтобы фиксировать, как менялись облик и атмосфера в стране. Те перемены практически невозможно было увидеть — но за снимками Гронского будто чувствовалось все, что мы пережили к тому моменту: 24 февраля, Буча, удары по драмтеатру и роддому в Мариуполе.\n\nГод назад «Медуза» опубликовала [первую часть](https://meduza.io/feature/2022/06/18/poka-rossiya-pytaetsya-okkupirovat-ukrainu-fotograf-aleksandr-gronskiy-snimaet-peyzazhi-moskvy) фотопроекта Гронского — сейчас, когда у нас за плечами почти полтора года войны, фотограф выпускает его продолжение. На новых кадрах — знакомая Москва. Но в чем-то узнать ее становится все тяжелее.\n\nВторая часть фотопроекта Александра Гронского о Москве военного времени вышла на сайте кооператива независимых журналистов «Берег». С разрешения кооператива «Медуза» [публикует](https://meduza.io/feature/2023/06/15/v-nachale-voyny-moskva-budto-zastyla-spustya-poltora-goda-eto-uzhe-ne-tot-gorod-chto-my-znali-do-24-fevralya-2022-go) этот материал.'

## Вывод: 
Как видно наша модель смогла класифицировать практически все записи, а те которые она не смогла классифицировать являются аномальными.
## Проведем анализ каждого класса

In [122]:
labels = pd.read_csv('../data/labels.csv')
posts['Label'] = labels['Label']
posts.head()

,id,telegram_id,text,datetime,category_id,channel_id,title,Unnamed: 7,Unnamed: 8,Unnamed: 9,Label
0,1,157314,❗️Восстановление аммиакопровода Тольятти — Оде...,2023-06-07 11:40:06,NaN,-1001394050290,Восстановление аммиакопровода займет до 3 меся...,NaN,NaN,NaN,Политика
1,2,18940,Дополнительные 39 миллионов рублей были выделе...,2023-06-07 11:34:56,NaN,-1001098860759,Выделены дополнительные 39 млн рублей на соцуч...,NaN,NaN,NaN,Финансы
2,3,4868,«Россия уничтожена санкциями»\n ...,2023-06-07 11:03:05,NaN,-1001797434593,«Россия уничтожена санкциями»\n ...,NaN,NaN,NaN,Политика
3,4,157315,❗️Правоохранители провели обыски в министерств...,2023-06-07 11:50:06,NaN,-1001394050290,Обыски в минобразования Дагестана по делу о вы...,NaN,NaN,NaN,Образовательный контент
4,16,157317,"Реконструкция пропускного пункта ""Верхний Ларс...",2023-06-07 12:10:25,NaN,-1001394050290,"Реконструкция пропускного пункта ""Верхний Ларс...",NaN,NaN,NaN,Технологии

Удалим все ненужные стобцы, оставив только стобцы 'text' и 'Label'

In [123]:
posts = posts[['text', 'Label']]
posts.head()

                                                text                    Label
0  ❗️Восстановление аммиакопровода Тольятти — Оде...                 Политика
1  Дополнительные 39 миллионов рублей были выделе...                  Финансы
2  «Россия уничтожена санкциями»\n               ...                 Политика
3  ❗️Правоохранители провели обыски в министерств...  Образовательный контент
4  Реконструкция пропускного пункта "Верхний Ларс...               Технологии

In [124]:
posts['Label'].value_counts()

Label
Технологии                        43858
Политика                          37938
Образовательный контент           16576
Развлечения                       14454
Fashion                           12289
Финансы                           10375
Общее                              6484
Путешествия/релокация              4716
Шоубиз                             3648
Крипта                             1186
не получилось классифицировать        7
Name: count, dtype: int64

Удалим записи с Label 'не получилось классифицировать'

In [125]:
posts = posts.where(posts['Label'] != 'не получилось классифицировать')
posts['Label'].value_counts()

Label
Технологии                 43858
Политика                   37938
Образовательный контент    16576
Развлечения                14454
Fashion                    12289
Финансы                    10375
Общее                       6484
Путешествия/релокация       4716
Шоубиз                      3648
Крипта                      1186
Name: count, dtype: int64

In [126]:
posts['text'].iloc[140134]

'Экс-депутата белгородского горсовета Сергея Фуглаева (представлял «Единую Россию) приговорили к\xa05,5 года колонии, его признали виновным в\xa0мошенничестве и\xa0обмане налоговой. „Я\xa0прошу, простите меня, пожалуйста, я\xa0очень сильно виноват. Я\xa0клянусь, что я\xa0больше никогда не\xa0нарушу закон“,\xa0— сказал он\xa0в\xa0последнем слове,\xa0— [Бел.ру](https://t.me/IABelRu/25862).'

In [127]:
posts['Label'].iloc[140134]

'Политика'

Сохраним полученный датасет, чтобы использовать его как финальный для сосздания конечного pipeline.

In [131]:
posts.to_csv('../data/final_data.csv.gz', compression='gzip', index=False)

In [132]:
pd.read_csv('../data/final_data.csv.gz', compression='gzip').head()

                                                text                    Label
0  ❗️Восстановление аммиакопровода Тольятти — Оде...                 Политика
1  Дополнительные 39 миллионов рублей были выделе...                  Финансы
2  «Россия уничтожена санкциями»\n               ...                 Политика
3  ❗️Правоохранители провели обыски в министерств...  Образовательный контент
4  Реконструкция пропускного пункта "Верхний Ларс...               Технологии